/*  your css code here. If applicable */
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animal-photos{
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 70%;
padding: 20px;
background-color: gray;
color: white;
gap:20px;
text-align: center;
}
.animal-photos >img{
border-radius: 20px;
}

.photo-heading{
    width: 100%;
    text-transform:uppercase;
}